.team-section {
    background: #141414;
    text-align: center;
    border-radius:20px;
}

.inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: black;
    overflow: hidden;
}

.team-section h1{
    font-size: 20px;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
    color: white;
    text-transform: uppercase;
}

.pe{
    float: left;
    width: calc(100% / 5);
    overflow: hidden;
    padding: 40px 0;
}



.pe img{
     width: 185px;
    height: 185px;
}

.pe name{
    margin: 16px 0;
    text-transform: uppercase;
    color: white;
}


@media screen and (max-width : 600px) {
    .pe{
        width: 100%;
    }
}


